<div class="container mt-4">
    <h2>{{ providerName }} Admin Page</h2>
    <button class="btn btn-success" (click)="increaseInventoryForProvider()">Increase Inventory</button>
  
    <div *ngIf="inventoryData.length > 0">
      <h3>Inventory Data for {{ providerName }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Provider Name</th>
            <th>SIM Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventoryData">
            <td>{{ item.id }}</td>
            <td>{{ item.providerName }}</td>
            <td>{{ item.simNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  