<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h2>Select Delivery Partner</h2>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary btn-lg btn-block">Delhivery</button>
        <button class="btn btn-primary btn-lg btn-block">BlueDart</button>
        <button class="btn btn-primary btn-lg btn-block">ExpressBees</button>
        <!-- Add more buttons for other delivery partners as needed -->
        <button class="btn btn-primary btn-lg btn-block">Ekart</button>
        <button class="btn btn-primary btn-lg btn-block">Other Delivery Partner</button>
        <!-- Add more buttons for other delivery partners as needed -->
      </div>
    </div>
  </div>
  
